body{
  font-family: 'Dosis', sans-serif;
  background-color: #E1E1DC;
}

.container{
  width: 500px;
  padding: 20px;
  background-color: white;
  margin: auto;
  margin-top: 40px;
}

.titulo{
  text-align: center;
  border-bottom: solid;
  padding: 15px;
  font-weight: 700;
}

.padre{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.nombre,.correo,.usuario,.password{
  display: flex;
  flex-direction: column;
  font-weight: 700;
  color: #595959;
}

input{
  padding: 8px;
}

input:focus{
  outline: #00DDFF;

}

input:hover{
  border: #00DDFF;
  background-color: #C3EDF8;

 
}

.cuenta{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boton{
  border-radius: 3rem;
  width: 45%;
  border: 1px solid #00D4FF;
  line-height: 1.6rem;
  font-size: 1.3rem;
  background-color: #00D4FF;
  color: #FFFFFF;
  padding: 0.5rem 0;
  transition: .3s ease-in-out all;
  font-weight: 500;
  margin-bottom: 10px;
}
.boton:hover{
  cursor: pointer;
  border-color: #00D4FF;
  background-color: #FFFFFF;
  color: #00D4FF;
}

.padre a{

  text-decoration: none;
  color: #00D4FF;
  margin-bottom: 1.3rem;
  transition: .3s ease-in-out all;

}
