{% extends './base.html' %}

{% block title %} Login {% endblock %}

{% block customCSS %}
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}} ">
	<link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}"></link>
{% endblock %}

{% block body %}

  <div class="container">
  	<form class="formulario" method="POST" action="/regist">
  		<h2 class="titulo">Registrar</h2>
  		<div class="padre">
  			<div class="nombre">
	  			<label>Nombre</label>
	  			<input type="text" name="nombre" required>
  			</div>
  			<div class="correo">
	  			<label>Correo</label>
	  			<input type="email" name="correo"  required>
  			</div>
  			<div class="usuario">
	  			<label>Usuario</label>
	  			<input type="text" name="usuario" required>
  			</div>
  			<div class="password">
	  			<label>Contraseña</label>
	  			<input type="password" name="password" required>
  			</div>
  			<div class="cuenta">
	  			<p>Si tienes una cuenta: <a href="/login" title="">Entra aqui</a></p>
	  			<input type="submit" value="Registrar" class="boton" >
  			</div>
  		</div>
  	</form>
  </div>
 
{% endblock %}