{% extends './base.html' %}

{% block title %} Inventario {% endblock %}

{% block customCSS %}
	  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700;800&display=swap" rel="stylesheet">
    <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
        crossorigin="anonymous"
      />
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"></link>
    <link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}"></link>
{% endblock %}

{% block body %}

  <main class="login-design">
    <div class="waves">
      <img src="{{ url_for('static', filename='img/img_d.png') }}">
    </div>
    <div class="login">
      <div class="login-data">
        <img src="{{ url_for('static', filename='img/logo.jfif') }}">
          {% with messages = get_flashed_messages() %}

          {% if messages %}
          <br/>
          {% for message in messages %}

          <div class="alert alert-primary alert-dismissible" role="alert">
            <strong> {{ message }} </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

          {% endfor %}
          {% endif %}
          {% endwith %}

        <h1>Inicio de Sesion</h1>   
      <form action="/login" class="login-form" method="POST">
        <div class="input-group">
          <label class="input-fill">
            <input type="text" name="username" id="username" required />
            <span class="input-label">Usuario</span>
            <i class="fa fa-users"></i>
          </label>
        </div>
        <div class="input-group">
          <label class="input-fill">
            <input type="password" name="password" id="password" required />
            <span class="input-label">Contraseña</span>
            <i class="fa fa-lock"></i>
          </label>
        </div>
        <input type="submit" value="Inisiar Sesion" class="btn-login" />
        <a href="/regis" title="">Registrate</a>
      </form>
      </div>
    </div>
  </main>

{% endblock %}
